.container2 {
  display: flex;
  position: relative;
}

.left-part2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 400px;
  width: 50%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}
.second-seperate{
    margin-top: 2rem;
}

.card {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.right-part2 {
  width: 50%;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 10px;
}
