.footer {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-section {
    flex: 1;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
  }
  
  .social-icons a {
    color: #333;
    margin-right: 10px;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons i {
    font-size: 18px;
  }
  