.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.navbar-logo img {
  font-size: 1.5rem;
  font-weight: 700;
  height: 40px;
}

.navbar-items {
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  margin-left: 1rem;
}

.navbar-items li {
  margin-left: 7rem;
}

.navbar-items li:last-child {
  margin-right: 0;
}

.navbar-items a {
  text-decoration: none;
  font-weight: 500;
}
